# cargo-deny configuration

[advisories]
ignore = [
    "RUSTSEC-2025-0100", # unic-ucd-ident is unmaintained
    "RUSTSEC-2025-0098", # unic-ucd-version is unmaintained
    "RUSTSEC-2025-0080", # unic-common is unmaintained
    "RUSTSEC-2025-0101", # unic-char-range is unmaintained
    "RUSTSEC-2025-0102", # unic-char-property is unmaintained
    "RUSTSEC-2025-0099", # unic-ucd-common is unmaintained
]

[licenses]
allow = [
    "MIT",
    "Apache-2.0",
    "BSD-3-Clause",
    "BSD-2-Clause",
    "Zlib",
    "MPL-2.0",
    "Unicode-DFS-2016",
    "ISC",
    "OpenSSL",
    "Unicode-3.0",
    "0BSD",
    "Apache-2.0 WITH LLVM-exception",
]

[bans]
multiple-versions = "warn"

[sources]
unknown-registry = "deny"
unknown-git = "deny"
